<div class="item-container">
    <mat-card class="example-card fixedWidth">
        <mat-card-header>
            <mat-card-title>
                <mat-card-title class="margin-under">Search Item By Id</mat-card-title>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="containerImage">
                <img *ngIf="item!.photoUrl" src={{item.photoUrl}} alt="Item image">
            </div>
            <p>Title: {{item.name}}</p><br>
            <p>Price: <strong>{{item.price}}$</strong></p><br>
            <p>Description: {{item.description}}</p><br>
            <div><label for="photoUrl">PhotoUrl</label></div>
            <textarea class="fixedWidth" cols="39" rows="2" name="photoUrl" readonly>{{item.photoUrl}}</textarea><br>
            <p>Seller Name: {{item.sellerName}}</p><br>
            <p>Buyer Name: <span *ngIf="item!.isSellable">{{item.buyerName}}</span></p><br>
            <p>Bids:</p><br>
            <div class="bidListBody">
                <p class="bidList" *ngFor="let bid of item.bids">{{bid.biderName}}-->{{bid.bidAmount}}$</p>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter an Id</mat-label>
                <input class="fixedWidth" matInput [formControl]="searchId" required />
                <mat-error *ngIf="searchId.invalid">{{ getSearchIdError() }}</mat-error>
            </mat-form-field>
            <span class="footer">
                <button class="bluebutton" mat-button (click)="searchById()">
                    Search
                </button>
                <button class="redbutton" mat-button (click)="onBackClick()">Back</button>
            </span>
        </mat-card-footer>
    </mat-card>
</div>