<mat-grid-list [cols]="gridCols" rowHeight="1:1" class="grid-item">
    <mat-grid-tile *ngFor="let item of itemsListComponent">
        <mat-card class="example-card fixedWidth">
            <mat-card-header>
                <mat-card-title>
                    <a>{{item.name}}</a> | <p>{{item.price}} $</p>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img class="titleImage" mat-card-image src={{item.photoUrl}} alt="Item image">
            </mat-card-content>
            <mat-card-footer>
                {{item.id}}
                {{item.description}}
                <!-- <button mat-raised-button color="primary" (click)="bidItem(item.id)">
                    Place Bid
                </button> -->
                <!-- {{item.name}} | {{item.price}} <br> -->
                <button mat-raised-button color="primary" (click)="onDetailedView(item.id)">Detailed view</button>

                <!--
                <button mat-raised-button color=" warn" *ngIf="accountService.isAdmin"
                    (click)="onDeleteTicket(item)">Delete</button> -->
            </mat-card-footer>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>