<section class="container">
    <!-- animate overlay effect when click -->
    <ul class="transition">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="header">
        <h1>Welcome to Green Bay Service!</h1>
    </div>
    <h2>Our main features</h2>
    <mat-divider></mat-divider>
    <div class="card-container">
        <mat-card class="card">
            <mat-card-title>Registration</mat-card-title>
            <mat-card-content>
                <p>
                    Sign up and create an account to access the Green Bay application.
                    Provide your details and get ready to explore!
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <p>
                    Already have an account? Log in to access your personalized dashboard,
                    manage your items and bids. Enjoy a seamless experience.
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-title>Purchase</mat-card-title>
            <mat-card-content>
                <p>
                    Search, find and purchase amazing oportunities.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="description">
        <p>Description:</p>
        <p>
            Our Green Bay application is designed to provide you with a convenient
            platform to explore and find a wide variety for a wide range of events. Whether
            you're looking for concerts, sports events, theater performances, or other
            entertainment options, our application has got you covered!
        </p>
    </div>
</section>