.custom {
  width: 100%;
}

.container {
  height: 100vh;
  overflow: scroll;
}

.register-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.register-card {
  max-width: 400px;
  padding: 20px;
}

.margin-under {
  margin-bottom: 16px;
}

.margin-right {
  margin-right: 16px;
}
