<div class="user-info-container">
    <mat-card class="userinfo-card">
        <mat-card-title class="margin-under">Personal Data</mat-card-title>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [formControl]="name" required />
            <mat-error *ngIf="name.invalid">{{ getNameError() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput [formControl]="email" required />
            <mat-error *ngIf="email.invalid">{{ getEmailError() }}</mat-error>
        </mat-form-field>
        <mat-divider class="margin-under" />
        <mat-card-title class="margin-under">Password</mat-card-title>
        <mat-form-field>
            <mat-label>Enter your existing password</mat-label>
            <input matInput type="password" [formControl]="oldPassword" />
            <mat-error *ngIf="oldPassword.invalid">{{
                getOldPasswordError()
                }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your new password</mat-label>
            <input matInput type="password" [formControl]="password" />
            <mat-error *ngIf="password.invalid">{{ getPasswordError() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Re-enter your new password</mat-label>
            <input matInput type="password" [formControl]="confirmPassword" />
            <mat-error>
                {{ getPasswordMatchError() }}
            </mat-error>
        </mat-form-field>
        <mat-card-footer class="buttonBottom">
            <button mat-flat-button color="primary" class="user-update-button" (click)="updateUser()">
                Update Account
            </button>
            <button mat-button routerLink="/">Close</button>
        </mat-card-footer>
    </mat-card>
</div>