<div class="item-container">
    <mat-card class="example-card fixedWidth">
        <mat-card-header>
            <mat-card-title>
                <mat-card-title class="margin-under">Detailed View</mat-card-title>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <img class="titleImage" mat-card-image src={{item!.photoUrl}} alt="Item image">
            <p>Title: {{item.name}}</p><br>
            <p>Price: <strong>{{item.price}}$</strong></p><br>
            <p>description: {{item.description}}</p><br>
            <p>seller: {{item.sellerName}}</p><br>
        </mat-card-content>
        <mat-card-footer>
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter a bid</mat-label>
                <input matInput [formControl]="bid" required />
                <mat-error *ngIf="bid.invalid">{{ getBidError() }}</mat-error>
            </mat-form-field>
            <span class="footer">
                <button class="bluebutton" mat-button (click)="bidItem()">
                    Place Bid
                </button>
                <button class="redbutton" mat-button (click)="onBackClick()">Back</button>
            </span>
        </mat-card-footer>
    </mat-card>
</div>