<header class="navbar">
    <mat-toolbar color="{{ accountService.isAdmin ? 'warn' : 'primary' }}">
        <button mat-button routerLink="/">
            <mat-icon>stars</mat-icon>
            <h1 class="title">Green Bay</h1>
        </button>
        <div class="nav-list"></div>
        <button mat-button *ngIf="accountService.isAuthenticated" [matMenuTriggerFor]="sellMenu">Menu</button>
        <mat-menu #sellMenu="matMenu">
            <button mat-menu-item [routerLink]="['/items']">List</button>
            <button mat-menu-item [routerLink]="['/search']">Search</button>
            <button mat-menu-item [routerLink]="['/create-item']">Create</button>
        </mat-menu>
        <button mat-button *ngIf="!accountService.isAuthenticated" routerLink="/register">Registration
        </button>
        <button mat-button *ngIf="!accountService.isAuthenticated" routerLink="/login">
            Login
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu" *ngIf="accountService.isAuthenticated" color="basic">
            <mat-icon>{{ "account_circle" }}</mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <div class="account-name-container">
                <mat-icon *ngIf="accountService.isAdmin" color="warn">admin_panel_settings</mat-icon>
                <mat-icon *ngIf="!accountService.isAdmin" color="primary">person</mat-icon>
                <span class="account-name">
                    {{ accountService.name }}
                </span>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item [matMenuTriggerFor]="profileMenu">
                <mat-icon color="primary">dashboard</mat-icon>My profile</button>
            <button mat-menu-item (click)="accountService.logout()" routerLink="/">
                <mat-icon color="primary">exit_to_app</mat-icon>Logout
            </button>
        </mat-menu>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item [routerLink]="['/user-update']">Edit</button>
            <button mat-menu-item [routerLink]="['/user-delete']">Delete</button>
        </mat-menu>
    </mat-toolbar>
</header>