<div class="register-container">
    <mat-card class="register-card">
        <mat-card-header class="margin-under">
            <mat-card-title class="margin-under">Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter your email</mat-label>
                <input matInput [formControl]="email" required />
                <mat-error *ngIf="email.invalid">{{ getEmailError() }}</mat-error>
            </mat-form-field>
            <mat-form-field class="custom margin-under">
                <mat-label>Enter your password</mat-label>
                <input matInput type="password" [formControl]="password" required />
                <mat-error *ngIf="password.invalid">{{ getPasswordError() }}</mat-error>
            </mat-form-field>
            <button mat-raised-button class="margin-right" color="primary" (click)="submit()">
                Login
            </button>
            <button mat-button routerLink="/">Back</button>
        </mat-card-content>
    </mat-card>
</div>