.custom {
  width: 100%;
}

.item-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px - 30px);
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.item-container::-webkit-scrollbar {
  display: none;
}

.fixedWidth {
  width: 100%;
  margin-top: 2vh;
}
.example-card {
  max-width: 350px;
  border-radius: 18px;
  /* max-height: 370px; */
  /* overflow: hidden; */
}
.price {
  cursor: pointer;
  width: 7vw;
  height: 3vh;
  background-color: #002884;
  color: white;
  border: 0;
  border-radius: 18px;
  text-align: center;
  font-size: 16px;
  padding-top: 2px;
}
p {
  display: inline;
}
img {
  height: 250px;
  width: 100%;
  /* cursor: pointer; */
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
/* img:hover {
    transform: scale(1.05);
  } */
.mat-mdc-card-header {
  justify-content: center;
}
.mat-mdc-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-card-img {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bluebutton,
.redbutton {
  background-color: rgba(200, 200, 200, 0.5);
}

.bluebutton:hover,
.redbutton:hover {
  background-color: var(
    --mat-datepicker-calendar-date-selected-state-background-color
  );
  color: white;
}
