<div class="item-container">
    <mat-card class="item-card">
        <mat-card-header class="margin-under">
            <mat-card-title class="margin-under">Create Item</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter a title</mat-label>
                <input matInput [formControl]="title" required />
                <mat-error *ngIf="title.invalid">{{ getTitleError() }}</mat-error>
            </mat-form-field>
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter a description</mat-label>
                <input matInput [formControl]="description" required />
                <mat-error *ngIf="description.invalid">{{ getDescriptionError() }}</mat-error>
            </mat-form-field>
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter photo url</mat-label>
                <textarea matInput [formControl]="photoUrl" (input)="onUrlChange()" required></textarea>
                <mat-error *ngIf="photoUrl.invalid">{{ getPhotoUrlError() }}</mat-error>
            </mat-form-field>
            <img class="titleImage" mat-card-image [src]="photoUrl.value" alt="Item image" *ngIf="isImageLoaded">
            <mat-form-field class="custom margin-under">
                <mat-label>Please enter a price</mat-label>
                <input matInput [formControl]="price" required />
                <mat-error *ngIf="price.invalid">{{ getPriceError() }}</mat-error>
            </mat-form-field>
            <section class="custom margin-under">
                <mat-checkbox [(ngModel)]="item.isSellable" required>isSellable</mat-checkbox>
            </section>
            <button mat-raised-button class="margin-right" color="primary" (click)="onSubmit()">
                Create Item
            </button>
        </mat-card-content>
    </mat-card>
</div>